<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional">
    <listeners>
        <listener class-name="com.apple.Runners.Listeners"/>
    </listeners>

    <test name="Apple.com">
        <classes>
            <class name="com.apple.Runners.TestRunner"/>
        </classes>

    </test>
</suite>